// colors
$color-primary: #55c57a;
$color-light: #fff;
$color-black: #000;

// grey shades
$color-grey: #777;
$color-grey1: #999;

$color-gray2: #f7f7f7;
$color-grey3: #333;
$color-grey-light: #eee;

// secondary colors
$color-secondary: #7ed56f;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

// tertiary colors
$color-tertiary: #28b485;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// default-font size
$default-font-size: 1.6rem;
// grid float layouts
$grid-width: 114rem;
$grid-row-gap: 8rem;
$grid-row-gap-small: 6rem;
$grid-col-gap: 6rem;
